<h1 class='d-inline'>Authors</h1>
<% @authors.each do |author| %>
  <ul id="authors" class='nav'>
    <li id="<%= dom_id author %>" class='nav-item'>
      <%= link_to "#{author.name}(#{author.books.count})", author, class:'nav-link' %>
    </li>
  </ul >
<% end.empty? and begin %>
<p>No authors!</p>
<% end %>
