<p style="color: green"><%= notice %></p>
<div class='row'>
  <div class='col'>
    <%= render @author %>
  </div>
  <div class='col-3'>
    <% if current_user&.is_admin %>
      <div class='d-grid gap-2'>
        <%= link_to "Back to authors", authors_path, class:'btn btn-link' %>
        <%= button_to "Destroy this author", @author, method: :delete, class:'w-100 btn btn-link' %>
      </div>
    <% end %>
  </div>
</div>
