<div style='background-size:cover; background-image: url(<%= image_path 'book.jpg' %>)'>
  <div class='p-5'>
    <div class='w-50'>
      <h1>Webook</h1>
      <p>Discover a world of stories and knowledge on our online reading website. Access our library anytime, anywhere, and from any device. Search for your favorite titles, discover new authors and genres, and get personalized recommendations based on your reading history and interests. Connect with other book lovers from around the world and join virtual book clubs. Join us today and start exploring the joy of reading in a whole new way.</p>
      <%= link_to 'Join Us', new_user_path, class: 'btn btn-primary my-2' %>
      <h2>Search Now</h2>
      <%= render 'shared/search', klass: 'form-control-lg' %>
    </div>
  </div>
</div>
